/* @font-face {
    font-family: 'tm-black';
    src: url('../fonts/tm-black.woff2') format('woff2'),
         url('../fonts/tm-black.woff') format('woff');
    font-weight: normal;
    font-style: normal;
} */

/* @font-face {
    font-family: 'tm-medium';
    src: url('../fonts/tm-medium.woff2') format('woff2'),
         url('../fonts/tm-medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
} */

@font-face {
    font-family: 'tm-bold';
    src: url('../fonts/tm-bold.woff2') format('woff2'),
         url('../fonts/tm-bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'tm-light';
    src: url('../fonts/tm-light.woff2') format('woff2'),
         url('../fonts/tm-light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'tm-regular';
    src: url('../fonts/tm-regular.woff2') format('woff2'),
         url('../fonts/tm-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

:root {
  --grid-gutter: 3rem;
  --grid-column: calc((100vw - (6 * var(--grid-gutter))) / 5);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'tm-regular';
  font-size: 100%;
  height: 100%;
}

h1 {
  font-family: 'tm-light';
  font-size: 3rem;
  font-weight: normal;
  line-height: 1;
}


h2, h3, h4, h5, h6 {
  font-family: 'tm-bold';
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.5;
  text-align: right;
}

h2, h4 {
  text-transform: lowercase;
}

h3::after, h4::after {
  content: '—';
  display: block;
}

p {
  line-height: 1.5;
  margin-bottom: 1.5rem;
}

a, a:link, a:visited {
  color: currentColor;
  text-decoration: underline;
}

/* .grid-container { background-color: hsla(70, 100%, 50%, .2); } */
/* .grid-item { background-color: hsla(0, 100%, 50%, .05); } */
/* .grid-item > * { background-color: hsla(0, 100%, 50%, .2); } */

.cover {
  align-items: flex-end;
  background-color: black;
  color: white;
  justify-content: space-between;
  flex-direction: column;
}

.cover__heading {
  padding: 3rem;
}

.cover__image {
  background-image: url('../img/cover.jpg');
  background-position: center;
  background-size: cover;
  padding-top: 68%;
  width: 100%;
}

@media only screen and (min-width : 600px) {
  .cover {
    display: flex;
    flex-direction: row;
  }

  .cover__image {
    align-self: stretch;
    background-position: bottom left;
    background-size: cover;
    flex-basis: calc(60% + 1.5rem);
    flex-basis: 50%;
    padding-top: 32%;
  }
}

@media only screen and (min-width : 767px) {
  .cover__image {
    flex-basis: calc( (var(--grid-column) * 3) + (var(--grid-gutter) * 4));
  }
}


.grid-container {
  margin: 1rem;
}

.grid-item {
  margin-bottom: 3rem;
  padding: 1rem;
}


@media only screen and (min-width : 600px) {
  .grid-container {
    margin: 1.5rem;
  }

  .grid-item {
    padding: 1.5rem;
  }

  .grid-item--small { width: 66.6%; }
  .grid-item--medium { width: 66.6%; }
  .grid-item--large { width: 100%; }

  .grid-item--offset-1 { margin-left: 0%; }
  .grid-item--offset-2 { margin-left: 33.3%; }
  .grid-item--offset-3 { margin-left: 33.3; }
}

@media only screen and (min-width : 767px) {
  .grid-container {
    margin: 1.5rem;
  }

  .grid-item {
    padding: 1.5rem;
  }

  .grid-item--small { width: 40%; }
  .grid-item--medium { width: 60%; }
  .grid-item--large { width: 80%; }

  .grid-item--offset-1 { margin-left: 20%; }
  .grid-item--offset-2 { margin-left: 40%; }
  .grid-item--offset-3 { margin-left: 60%; }
}

.grid-item img {
  height: auto;
  margin-bottom: 1.5rem;
  max-width: 100%;
}

a.contact-link {
  background-color: black;
  color: white;
  display: block;
  font-family: 'tm-regular';
  font-size: 1rem;
  padding: 3rem;
  text-align: right;
  text-decoration: none;
  width: 100%;
}

@media only screen and (min-width : 767px) {
  a.contact-link {
    font-family: 'tm-light';
    font-size: 3rem;
  }
}
